@import '../../../../styles/partials/colors';
@import '../../../../styles/partials/fonts';

#getStudio-page{
  .getStudioSection{
    .customContainer{
      @media all and (max-width: 667px){
        padding: 0;
      }
    }
    .sectionContent{
      .contentCardItem{
        &:first-child{
          margin-bottom: 40px;
          @media all and (max-width: 667px){
            margin-bottom: 15px;
          }
        }
      }

      .formContainer{
        .formAction{
          margin-top: 15px;
          display: flex;
          justify-content: space-between;
          @media all and (max-width: 667px){
            flex-wrap: wrap;
          }
          .actionItem{
            @media all and (max-width: 667px){
              width: 100%
            }
            &:nth-of-type(1){
              a{
                display: inline-block;
                font-size: 12px;
                font-weight: bold;
                padding: 11px 33px;
                color: $primary;
                border: 1px solid $grey-light;
                border-radius: 8px;
                @media all and (max-width: 667px){
                  display: block;
                  text-align: center;
                }
              }
            }
            &:nth-of-type(2){
              @media all and (max-width: 667px){
                text-align: right;
                margin-top: 15px;
              }
              button{
                &:not(:last-of-type){
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }

  .commonGidContainer{
    .gridItem{
      &.artistSideBar{
        @media all and (max-width: 991px){
          display: none;
        }
      }
    }
  }
}
