@import '../../styles/partials/fonts';
@import '../../styles/partials/colors';

.featured-art-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;

  .featured-art {

    .details {
      display: flex;
      justify-content: space-between;
      padding: 18px 0;

      .left {
        
        .name {
          font-family: $fontSpecial;
          font-size: 20px;
          font-weight: 700;
        }

        span {
          font-size: 12px;

          a {
            color: $black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
      
      .right {
        font-family: $fontSpecial;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }

  @media all and (max-width: 769px) {
    grid-gap: 18px;
  }

  @media all and (max-width: 580px) {
    grid-gap: 0;
    grid-template-columns: 1fr;
    width: 300px;
    margin: auto;
  }
}