@import "../../styles/partials/fonts";
@import "../../styles/partials/colors";

.home-section {
  padding: 80px 0;
  border-bottom: 1px solid $grey-mid;
  background: $white;

  .top {
    padding-bottom: 30px;

    .title {
      font-family: $fontSpecial;
      font-size: 24px;
    }
  }

  &.grey {
    background-color: $grey-light;
  }

  &.fullHeight {
    // min-height: 100vh;
    display: flex;
    align-items: center;
  }
}