@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/snippets';


.commonFeedContainer{
  padding: 16px;
  background-color: #FFF;
  &:not(:last-of-type){
    margin-bottom: 15px;
  }
  @media all and (max-width: 667px){
    padding: 0;
    background-color: transparent;
  }
  &.typeNewFeed{
    @media all and (max-width: 667px){
      background-color: #fff;
      padding: 15px;
    }
    .content{
      textarea{
        padding: 15px;
        font-size: 16px;
        width: 100%;
        height: 130px;
        border: 1px solid $grey-mid;
        border-radius: 8px;
        resize: none;
        @media all and (max-width: 1600px){
          font-size: 14px;
        }
        @media all and (max-width: 667px){
          font-size: 12px;
          padding: 10px;
        }
      }
    }
    .action{
      text-align: right;
      margin-top: 10px;
      button{
        &:not(:last-of-type){
          margin-right: 15px;
        }
      }
    }
    .add-image {
      input {
        display: none;
      }
      span {
        min-width: 130px;
        padding: 7px 0 4px;
        height: 34px;
        font-size: 12px;
        font-family: $fontMain;
        border-radius: 30px;
        text-transform: none;
        color: $white;
        background: $primary;
        margin-right: 9px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        @media all and (max-width: 1600px){
          height: 32px;
          min-width: 116px;
          padding: 7px 0 6px;
        }
      }
    }
  }
}

.feedItem{
  border-radius: 8px;
  padding: 16px;
  border: 1px solid $grey-mid;
  background: #fff;
  @media all and (max-width: 667px){
    border: 0;
    border-radius: 0;
  }
  &:not(:last-of-type){
    margin-bottom: 15px;
  }
  .feedTitle{
    @extend .ex-flex;
    align-items: center;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $grey-mid;
    .commonAvatar{
      height: 60px;
      width: 60px;
      @media all and (max-width: 1600px){
        height: 50px;
        width: 50px;
      }
    }
    .authorName{
      padding-left: 15px;
      flex-grow: 1;
      a {
        color: $black;
      }
      h4{
        font-weight: bold;
      }
      p{
        color: $grey;
        font-family: $fontSpecial;
      }
    }
  }
  .feedContent{
    .imageContainer{
      margin-bottom: 10px;
    }
  }

  .comments-section {
    .view-comments {
      display: block;
      text-align: center;
      color: $grey;
      @media all and (max-width: 1399px){
        font-size: 14px;
      }
      @media all and (max-width: 667px){
        margin-top: 15px;
        font-size: 12px;
      }
    }
  }
}

.commonLike{
  z-index: 0;
  margin-top: 10px;
  position: relative;
  &:after{
    z-index: -1;
    content: '';
    height: 1px;
    width: 100%;
    background: $grey-mid;
    position: absolute;
    @extend .ex-vertical;
    left: 0;
    right: 0;
  }
  .inner{
    z-index: 1;
    display: inline-block;
    padding-right: 23px;
    background-color: #fff;
    display: flex;
    align-items: center;
    width: max-content;
    @media all and (max-width: 667px){
      padding-right: 15px;
    }
    .icon {
      position: relative;
      margin-right: 14px;
      @media all and (max-width: 667px){
        margin-right: 8px;
      }
      svg{
        font-size: 35px;
        height: 35px;
        width: 35px;
        fill: $brown;
        margin-top: 3px;
        @media all and (max-width: 1600px){
          font-size: 32px;
          height: 32px;
          width: 32px;
        }
        @media all and (max-width: 667px){
          height: 32px;
          width: 32px;
        }
      }
      span{
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        color: #fff;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 10px;
        font-weight: bold;
        line-height: 1em;
        top: 48%;
        transform: translateY(-50%);
        @media all and (max-width: 1600px){
          font-size: 8px;
        }
        @media all and (max-width: 1399px){
          top: 48%;
        }
        @media all and (max-width: 667px){
          top: 46%;
        }
      }
    }
  }
}

.edit-post-dialog {

  textarea {
    width: 100%;
    height: 150px;
    padding: 9px;
    resize: none;
    border: 1px solid $grey-light;
  }

  .edit-post-dialog-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 12px;
    > span {
      margin-right: 12px;
      font-size: 12px;
    }
  }
}
