@import "../../../../styles/partials/colors";
@import "../../../../styles/partials/fonts";

#edit-info-page {
  .commonFormSection {
    padding-top: 80px;
    @media all and (max-width: 1600px){
      padding-top: 70px;
    }
    @media all and (max-width: 667px){
      padding-top: 54px;
      margin-bottom: 15px;
      .customContainer{
        padding: 0;
      }
    }
    .contentCardItem{
      .datePickerHide{
        display: none;
      }
      .typeTwoCol{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        .styled-input{
          padding: 0 15px;
          &:nth-of-type(1){
            width: 60%;
            @media all and (max-width: 667px){
              width: 100%;
            }
          }
          &:nth-of-type(2){
            width: 40%;
            @media all and (max-width: 667px){
              width: 100%;
            }
          }
          &:nth-of-type(3){
            width: 50%;
            @media all and (max-width: 667px){
              width: 100%;
            }
          }
          &:nth-of-type(4),&:nth-of-type(5){
            width: 50%;
            @media all and (max-width: 667px){
              width: 100%;
            }
          }
        }
      }
    }
  }

  .cover-image {
    display: flex;
    flex-direction: column;
    button {
      align-self: flex-end;
      margin-top: 9px;
      @media all and (max-width: 667px){
        margin-top: 15px;
      }
    }
  }

  .profile-picture {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .placeholder {
      width: 200px;
      height: 200px;
      background: #f2f2f2;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .pp {
      display: flex;
      flex-direction: column;

      img {
        max-width: 200px;
        border-radius: 50%;
        margin-bottom: 15px;
      }
    }
  }
}
