@import '../../../styles/partials/colors';
@import '../../../styles/partials/fonts';
@import '../../../styles/partials/snippets';

#artistPage {
  
  .artist-bar {
    background: #fff;
    margin-bottom: 15px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.07058823529411765);
    display: flex;
    justify-content: center;
    padding: 15px 0;

    ul {
      display: flex;

      li {
        margin: 0 12px;

        a {
          color: $black;

          &.active {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
