@import '../../styles/partials/colors';
@import '../../styles/partials/snippets';

.artistShowcaseItem{
  .advanceAvatarInline{
    @extend .ex-flex;
    @extend .ex-flex-wrap;
    min-width: 450px;
    @media all and (max-width: 1199px){
      width: 100%;
      margin-bottom: 30px;
      min-width: 40px !important;
    }
    @media all and (max-width: 667px){
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid $grey-light;
    }
    .commonAvatar{
      width: 120px;
      height: 120px;
      @media all and (max-width: 1199px){
        height: 90px;
        width: 90px;
      }
      @media all and (max-width: 677px){
        height: 60px;
        width: 60px;
      }
    }
    .infoContainer{
      width: calc(100% - 120px);
      padding-left: 20px;
      @media all and (max-width: 1199px){
        width: calc(100% - 90px);
      }
      @media all and (max-width: 677px){
        width: calc(100% - 60px);
        padding-left: 15px;
      }
      .action{
        margin-top: 15px;
        ul{
          li{
            display: inline-block;
            vertical-align: top;
            &:not(:last-of-type){
              margin-right: 10px;
              @media all and (max-width: 677px){
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
  }

  .artist-gallery-inline {
    min-width: 0;
    flex-grow: 1;
    @media all and (max-width: 1199px){
      width: 100%;
    }
  }
  &.full-width-gallery {
    flex-direction: column;
    &.advanceAvatarInline {
      margin-bottom: 21px;
    }
  }
}
