@import '../../styles/partials/colors';

.content-slider-slick-wrapper {

  .slick-slider {
    max-height: 300px;
  }

  .content-scroller-slick {
    margin-right: 15px;
  
    img {
      object-fit: cover;
      height: 300px;
      border-radius: 7px;
    }

    &.studios-to-follow {
      
      img {
        height: auto;
      }
    }
  }

  .slick-dots {
    display: flex !important;
    justify-content: center;
    margin-top: 15px;

    li {
      margin: 0 3px;

      button {
        display: block;
        width: 3px;
        height: 3px;
        text-indent: -9999px;
        border: none;
        border-radius: 50%;
        padding: 0;
        background: $black-mid;
      }

      &.slick-active {

        button {
          background: $grey;
        }
      }
    }
  }
}
