@import '../../styles/partials/fonts';
@import '../../styles/partials/colors';

.featured-studios {
  background: #fff;
  margin-bottom: 60px;
  padding-top: 45px;

  .featured-studio-slider {

    .slick-dots {
      display: flex !important;
      justify-content: center;
      padding: 20px 0;

      li {
        
        button {
          display: block;
          border: none;
          width: 10px;
          height: 10px;
          background: $black-mid;
          margin: 0 3px;
          border-radius: 50%;
          text-indent: -9999px;
          padding: 0;
        }

        &.slick-active {
          
          button {
            background: $black-super-light;
          }
        }
      }
    }
  }

  .featured-studio {

    ._inner {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .studio-product-image {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
    }

    .studio-info {
      flex: 1;

      .name {
        h4 {
          font-size: 24px;
        }
      }

      .details {
        font-family: $fontSpecial;
        color: $grey;
        margin-bottom: 30px;

        h6 {
          font-size: 12px;
        }
      }     
      
      .action {

        ul {
          display: flex;

          li {

            &:not(:last-child) {
              margin-right: 9px;
            }
          }
        }
      }
    }
  }
}