@import '../../../../styles/partials/colors';
@import '../../../../styles/partials/fonts';

#profilePage{
  .feedSection{
    .customContainer{
      @media all and (max-width: 667px){
        padding-left: 0;
        padding-right: 0px;
      }
    }

    .sectionContent{
      margin-top: 15px;
    }
    .commonFeedContainer{
      &.typeNewFeed{
        margin-top:15px;
      }
    }
    .getFeedTitle{
      border-radius: 6px;
      background-image: url('../../../../assets/img/pattern/get_a_studio.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      @media all and (max-width: 667px){
        border-radius: 0;
      }
      h3{
        font-family: $fontMain;
        font-weight: bold;
        letter-spacing: 15px;
        padding: 50px 10px 49px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        @media all and (max-width: 1600px){
          font-size: 16px;
          padding: 35px 10px 35px;
        }
        @media all and (max-width: 667px){
          font-size: 12px;
          letter-spacing: 12px;
          padding: 28px;
        }
      }
    }
  }
  .commonGidContainer.typeHeaderUp{
    .commonPageHead{
      display: none;
      @media all and (max-width: 991px){
        display: block;
      }
    }
    .gridItem.mainContent{
      padding-top: 0;
      @media all and (max-width: 991px){

      }
    }
  }
}
