#artistCodePage{
  .customContainer{
    @media all and (max-width: 667px){
      padding: 0;
    }
  }
  .commonGidContainer{
    .gridItem{
      &.artistSideBar{
        @media all and (max-width: 991px){
          display: none;
        }
      }
    }
    &.typeBox .sectionContent .styled-input label input{
      width: 300px;
      max-width: 100%;
    }
  }

  .artistCodeSection{
    margin-bottom: 0;
  }
}
