@import "../../styles/partials/colors";

.like-art-button {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #E8E8E8;
  cursor: pointer;
  transition: all .3s ease;
  
  &.liked {
    background: $primary;
    border-color: $primary;
  }
  
  &.loading {
    opacity: .5;
    transition: all .3s ease;
    pointer-events: none;    
  }

  &:hover {
    border-width: 0;
    transition: all .3s ease;
  }
}