@import '../../../styles/partials/colors';

#studiosPage {
  .commonSubNavSection{
    background: none;

    .artist-nav {
      text-align: right;
    }
    
    .sectionContent{
      @media all and (max-width: 991px){
        display: flex;
        justify-content: space-between;
      }
    }
    .artist-nav {
      li {
        span{
          color: $grey;
          @media all and (max-width: 991px){
            font-weight: bold;
          }
        }

        &.active {
          span {
            color: $black;
            @media all and (max-width: 991px){
              color: $primary;
            }
          }
        }
      }
    }

    .artistView{
      display: none;
      padding-left: 18px;
      margin-left: 18px;
      position: relative;
      &:after{
        content: '';
        height: 25px;
        width: 1px;
        background-color: $grey-mid;

        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      @media all and (max-width: 991px){
        display: flex;
        align-items: center;
      }
      li{
        color: $grey;
        &:not(:last-of-type) {
          margin-right: 5px;
        }
        @media all and (max-width: 667px){
          svg{
            font-size: 30px;
            margin-left: 15px;
          }
        }
        &.active {
          svg {
            fill: $primary;
          }
        }
      }
    }
  }

  .artistSection{
    .customContainer{
      @media all and (max-width: 667px){
        padding: 0;
      }
    }

    &.grid-showing{
      .sectionContent{
        @media all and (max-width: 991px){
          display: flex;
          flex-wrap: wrap;
          margin: -10px;
        }
        @media all and (max-width: 667px){
          margin: 0;
          padding-left: 5px;
          padding-right: 5px;
        }
        .artistShowcaseItem{
          @media all and (max-width: 991px){
            width: calc(50% - 20px);
            margin: 10px;
            padding: 30px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
            text-align: center;
          }
          @media all and (max-width: 667px){
            width: calc(50% - 10px);
            margin: 5px;
            padding: 25px 25px;
          }
          @media all and (max-width: 490px){
            // width: 100%;
            padding: 12px;

            button {
              width: auto !important;
            }
          }
          .advanceAvatarInline {
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
            .commonAvatar {
              @media all and (max-width: 991px){
                margin: auto;
              }
            }
            .infoContainer {
              @media all and (max-width: 991px){
                width: 100%;
                padding-left: 0;
                margin-top: 10px;
              }
            }
          }
          .artist-gallery-inline{
            @media all and (max-width: 991px){
              display: none;
            }
          }
        }
      }
    }

  }
}

.artist-gallery-inline {
  ._arrow_prev {
    left: -30px !important;
  }

  ._arrow_next {
    right: -30px !important;
  }
}
