@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';

.studios-to-follow {

  .studio {
    background: $grey-light;
    padding: 15px 15px 0 15px;
    height: 100%;

    .details {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding: 24px 0 12px;
      width: 300px;

      .left {

        .name {
          font-size: 16px;
          font-weight: 700;
          color: $black;
        }

        .more-details {
          font-family: $fontSpecial;
          font-size: 14px;
          color: $grey;
        }
      }
    }

    @media all and (max-width: 480px) {
      background: none;
    }
  }
}