@import "../../../../styles/partials/colors";
#InitiateFollowsPage{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: $grey-light;
  overflow: auto;
  padding: 40px 0 60px;
  .commonSubNavSection{
    &.typeCategories {
      .sectionContent  {
       -webkit-justify-content: center;
       justify-content: center;
       .subNavItem{
         ul{
           li{
             &:nth-of-type(1){
              padding-right: 0;
               &:after {
                display: none;
              }
             }
           }
         }
       }
      }
    }
  }

  .artistCollectionContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .artistItem{
      padding: 11px;
      width: 280px;
      text-align: center;
      .artistInner{
        height: 100%;
        padding: 37px 30px;
        background-color: $white;
        height: 100%;
        transition: all .3s ease;
        .commonAvatar{
          height: 200px;
          width: 200px;
          margin: auto;
          max-width: 100%;
        }
        .info{
          .name{
            h3{
              color: black;
            }
          }
        }
      }
      &.selected{
        .artistInner {
          background-color: $primary;
          transition: all .3s ease;
          .info{
            color: $white;
            .name{
              h3{
                color: $white;
              }
            }
          }
        }
      }
    }
  }
  .confirmation-bar{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: $black;
    color: $white;
    padding: 13px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    button {
      margin: 0 15px;
    }
  }
}
