@import '../../../../styles/partials/colors';
@import '../../../../styles/partials/fonts';
@import '../../../../styles/partials/snippets';

#notificationPage{
  .notificationSection{
    @media all and (max-width: 667px){
      margin-bottom: 0;
      .customContainer{
        padding: 0px;
      }
    }
    .sectionContent{
      background-color: #fff;
      .title{
        padding: 22px 27px;
        @extend .ex-flex;
        @extend .ex-flex-wrap;
        justify-content: space-between;
        border-bottom: 1px solid $grey-light;
        .titleItem{
          h5{
            font-family: $fontSpecial;
            font-weight: bold;
            color: $primary;
          }
          button{
            font-size: 12px;
            font-weight: bold;
            color: $grey;
            padding: 0;
            margin: 0;
            border: 0;
            background: transparent;
          }
        }
      }

      .content {
        .commonUserItem {
          padding: 0;
          a, &.follow-request {
            padding: 12px 27px;
            display: flex;
            width: 100%;
            @media all and (max-width: 667px){
              padding: 15px 10px;
            }
          }

          &.follow-request {

            ._info {
              flex-grow: 1;
            }
          }
        }
      }
    }
  }
}
