@import '../../../../styles/partials/colors';
@import '../../../../styles/partials/fonts';
@import '../../../../styles/partials/snippets';


.commonUserContainer{
  .commonUserItem{
    border-bottom: 1px solid $grey-light;
    &.unseen {
      background: #efefef;
    }
    &:hover{
      background-color: $yellow-light;
    }
    a{
      @extend .ex-flex;
      padding: 12px 27px;
      align-items: center;
      color: $black;
      @media all and (max-width: 1199px){
        padding: 12px 20px;
      }
    }
    .innerItem{
      .commonAvatar{
        height: 36px;
        width: 36px;
      }
      &:nth-of-type(2){
        padding-left: 13px;
        @media all and (max-width: 1600px){
          padding-left: 10px;
        }
        ul{
          li{
            line-height: 1.3em;
            &:nth-of-type(1){
              span{
                font-weight: bold;
                margin-right: 5px;
              }
              @media all and (max-width: 1600px){
                font-size: 14px;
              }
              @media all and (max-width: 1199px){
                font-size: 12px;
              }
              @media all and (max-width: 667px){
                font-size: 16px;
              }
            }
            &:nth-of-type(2){
              margin-top: 2px;
              font-size: 14px;
              font-family: $fontSpecial;
              font-weight: 500;
              color: $grey;
              @media all and (max-width: 1199px){
                font-size: 12px;
              }
              @media all and (max-width: 667px){
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  &.typeLargeIcon{
    .commonUserItem{
      .innerItem{
        .commonAvatar{
          height: 50px;
          width: 50px;
          @media all and (max-width: 1600px){
            height: 45px;
            width: 45px;
          }
          @media all and (max-width: 1600px){
            height: 36px;
            width: 36px;
          }
        }
      }
    }
  }
}

#messagePage{
  .messageSection{
      margin-bottom: 0;
      .customContainer{
        @media all and (max-width: 677px){
          padding: 0;
        }
      }
    .sectionContent{
      background-color: #fff;
      @extend .ex-flex;
      @extend .ex-flex-wrap;
      @media all and (max-width: 667px){
        overflow: hidden;
      }
      .messageGridItem{
        .title{
          background-color: #fff;
          text-align: center;
          padding: 21px 16px;
          border-bottom: 1px solid $grey-mid;
          color: $primary;
          @media all and (max-width: 1399px){
            padding: 18px 16px;
          }
          @media all and (max-width: 1199px){
            padding: 16px 16px;
          }
          @media all and (max-width: 667px){
            padding: 14px 10px;
          }
        }

        &.messageListBox{
          z-index: 0;
          width: 330px;
          position: fixed;
          top: 45px;
          background-color: #fff;
          @media all and (max-width: 1600px){
            top: 40px;
          }
          @media all and (max-width: 1199px){
            top: 36px;
            width: 250px;
          }
          @media all and (max-width: 991px){
            top: 44px;
          }
          @media all and (max-width: 667px){
            position: relative;
            width: 100%;
            min-height: calc(100vh - 44px);
            top: 0;
          }
          .title{
            h5{
              font-family: $fontSpecial;
              font-weight: bold;
              @media all and (max-width: 667px){
                font-size: 16px;
              }
            }
          }
        }
        &.messageBox{
          z-index: 2;
          width: 100%;
          margin-left: 330px;
          border-left: 2px solid $grey-mid;
          background-color: #fff;
          @media all and (max-width: 1199px){
            margin-left: 250px;
          }
          @media all and (max-width: 667px){
            z-index: 99;
            width: 100%;
            position: fixed;
            top: 40px;
            margin-left: 0;
            opacity: 0;
            pointer-events: none;
            transition: all .3s ease;
            &.box-showing{
              opacity: 1;
              pointer-events: initial;
              transition: all .3s ease;
            }
          }
          #messages-blank-state{
            align-self: center;
            width: 100%;
            text-align: center;
          }
          .title{
            position: relative;
            position: sticky;
            top: 45px;
            @media all and (max-width: 1600px){
              top: 40px;
            }
            @media all and (max-width: 1199px){
              top: 36px;
            }
            @media all and (max-width: 991px){
              top: 44px;
            }
            @media all and (max-width: 667px){
              width: 100%;
              position: fixed;
              top: 44px;;
            }
            h5{
              padding: 0 35px;
            }

            .deleteIcon, .backIcon{
              cursor: pointer;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              color: $grey;
              svg{
                font-size: 22px;
                @media all and (max-width: 1399px){
                  font-size: 20px;
                }
              }
            }
            .backIcon{
              left: 20px;
              display: none;
              @media all and (max-width: 667px){
                display: block;
              }
            }
            .deleteIcon{
              right: 20px;
            }
          }
          .messageThread{
            @extend .ex-flex;
            justify-content: space-between;
            flex-direction: column;
            .messages{
              padding: 18px;
              @media all and (max-width: 667px){
                height: 100vh;
                overflow-y: scroll;
                overflow-x: hidden;
                margin-top: 70px;
                padding-bottom: 80px;
              }
              .messageItem{
                &:not(:last-of-type){
                  margin-bottom: 10px;
                }
                .inner{
                  @extend .ex-flex;
                  .commonAvatar{
                    height: 36px;
                    width: 36px;
                  }
                  .chatBox{
                    max-width: 55%;
                    margin-left: 20px;
                    @media all and (max-width: 667px){
                      max-width: 70%;
                      margin-left: 10px;
                    }
                    .chatItem{
                      &:not(:last-of-type){
                        margin-bottom: 10px;
                      }
                      .itemInner{
                        line-height: 1.25em;
                        padding: 8px 15px 10px;
                        border-radius: 18px;
                        background-color: $grey-mid;
                        display: inline-block;
                        vertical-align: top;
                        @media all and (max-width: 1600px){
                          font-size: 14px;
                        }
                        @media all and (max-width: 1199px){
                          font-size: 12px;
                        }
                        @media all and (max-width: 667px){
                          line-height: 1.5em;
                        }
                      }
                    }
                  }
                }

                &.dir_right{
                  .inner{
                    justify-content: flex-end;
                    .commonAvatar{
                      display: none
                    }
                    .chatBox{
                      margin-left: 0;
                      .chatItem{
                        .itemInner{
                          background-color: $primary;
                          color: #fff;
                        }
                      }
                    }
                  }
                }
              }
            }
            .newmessages{
              position: sticky;
              bottom: 0;
              padding: 14px 14px 12px;
              background-color: $grey-mid;
              @media all and (max-width: 667px){
                position: fixed;
                width: 100%;
                bottom: 63px;
              }
              form{
                @extend .ex-flex;
                input{
                  -webkit-flex-grow: 1;
                  flex-grow: 1;
                  border-radius: 30px;
                  border: 1px solid $grey-mid;
                  padding: 8px 12px;
                  margin-right: 15px;
                  @media all and (max-width: 667px){
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }

      }
    }
  }
}



.messageBox,
.messages{
  min-height: 100vh;
}
