@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';
@import '../../styles/partials/snippets';

.art-showcase-container{
  display: flex;

  .showcase-column {
    flex: 1;
  }
}

.artItem{
  .inner{
    position: relative;
    .imageContainer{
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.19);
      height: 100%;
      vertical-align: top;
      @media all and (max-width: 991px){
        border-radius: 6px;
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        max-width: none;
        vertical-align: top;
      }
    }

    .edit-art {
      background: $white;
      border-radius: 21px;
      border: none;
      font-size: 10px;
      padding: 8px 12px;
      position: absolute;
      right: 9px;
      z-index: 10;
      top: 9px;
      display: flex;
      align-items: center;

      span {
        margin-left: 6px;
      }
    }

    .textContainer{
      @extend .ex-flex;
      @extend .ex-flex-wrap;
      justify-content: space-between;
      margin-top: 10px;
      @media all and (max-width: 667px){
        flex-wrap: nowrap;
      }
      .textItem{
        h5{
          font-family: $fontSpecial;
          font-weight: bold;
          margin-bottom: 3px;
        }
        span {
          font-family: $fontMain;
          font-size: 14px;

          a {
            color: $black;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
