@import '../../styles/partials/colors';

.commonAvatar {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
  .imageContainer {
    width: 100%;
    height: 100%;
    background: $grey;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
