@import '../../styles/partials/colors';
@import '../../styles/partials/fonts';

.advancedAvatar {
  text-align: center;
  .info {
    margin-top: 15px;
  }
  .name {
    text-transform: capitalize;
    h4{
      font-size: 15px;
      font-weight: 700;
    }
  }
  .details {
    margin-top: 5px;
    h6{
      font-family: $fontSpecial;
      color: $grey;
    }
  }
}
