@import '../../../styles/partials/colors';
@import '../../../styles/partials/fonts';

#search-page {
  padding: 30px 0;

  .search-results {

    ._title {
      margin-bottom: 30px;
      font-size: 22px;
    }

    .search-result {
      margin-bottom: 15px;
      background: #fff;
      padding: 9px;

      a {
        display: flex;
        color: $black;

        img {
          margin-right: 15px;
          border-radius: 9px;
          max-width: 150px;
        }

        .info {
          padding-top: 5px;

          .name {
            font-size: 20px;
            margin-bottom: 10px;
            font-family: $fontSpecial;
          }
        }
      }
    }
  }
}