.notfound {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
