@import "../../styles/partials/fonts";
@import "../../styles/partials/colors";

#responsive-dialog-title {
  font-family: $fontMain;
  font-size: 20px;
  font-weight: 700;
}

#responsive-dialog-message {
  margin: 24px 0;
}

#responsive-dialog-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > span {
    font-size: 12px;
    margin-right: 21px;
  }
}